<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="YiTongWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ServerRootUri" value="http://192.168.1.32:5001/"/>
    <add key="DeploymentDate" value="2014/06/14 00:00:00"/>
  </appSettings>
  <connectionStrings configSource="ConnStrings.config"></connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <authentication mode="None"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="newtonsoftJsonBinding" contentTypeMapper="YiTongWebService.Json.NewtonsoftJsonContentTypeMapper, YiTongWebService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" maxReceivedMessageSize="204822000">
          <readerQuotas maxStringContentLength="204822000"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="YiTongWebService.ServiceBehavior" name="YiTongWebService.Service">
        <endpoint
          address=""
          behaviorConfiguration="newtonsoftJsonBehavior"
          binding="webHttpBinding"
          bindingConfiguration="newtonsoftJsonBinding"
          contract="YiTongWebService.IService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="newtonsoftJsonBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" />
          <newtonJsonBehaviorExtension />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="YiTongWebService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="newtonJsonBehaviorExtension" type="YiTongWebService.Json.NewtonsoftJsonBehaviorExtension, YiTongWebService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
